
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.gevent-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%; 
  margin-bottom: 20px;
  text-align: center;
}

.event-title {
  font-size: 1.5rem;
  margin: 16px 0;
}

.event-photos iframe {
  height: 15rem;
  width: 20rem;
}

.event-photos {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.event-photo {
  width: 5px;
  height: 5px;
  object-fit: cover;
  border-radius: 8px;
}

.see-more-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {

  .gallery-container {
    flex-direction: column;
    padding: 10px;
  }


  .gevent-card {
    width: 90%; 
  }

  .event-photos {
    flex-direction: column; 
    align-items: center;
  }

  .event-photo {
    width: 100%;
    max-width: 120px;
    height: auto;
  }
}

@media (max-width: 480px) {
 
  .gevent-card {
    width: 100%;
  }

  .event-title {
    font-size: 1.25rem; 
  }


  .see-more-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
