
.footer {
    background-color: #222;
    color: #ffffff;
    padding: 100px;
    height: 35rem;
  }
  .last{
    background-color: aqua;
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .col-md-4 p{
    margin-top: 40px;
    color: #dcdcdc;
  }
  
  .about img {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 70px;
  }
  
  .recent-posts ul,
  .tags ul,
  .contact-us ul {
    list-style: none;
    padding: 9px;
    margin-top: 100px;
  }
  
  .recent-posts li,
  .tags li,
  .contact-us li {
    margin-bottom: 10px;
  }
  
  .recent-posts li a,
  .tags li a,
  .contact-us li a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-us ul li i {
    margin-right: 10px;
  }
  
  .mini-navbar {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
  }
  
  .mini-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .mini-navbar li {
    margin: 0 10px;
  }
  
  .mini-navbar li a {
    color: #fff;
    text-decoration: none;
  }
  
  .copyright {
    background-color: #111;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* .end{
    margin-top: 50px;
  } */

  img{
    background-size: cover;
    height: 80px;
  }

  .recent-posts li a:hover,
  .tags li a:hover,
  .contact-us li a:hover,
  .mini-navbar li a:hover {
    text-decoration: underline;
  }