/* .header {
  position: relative;
  text-align: center;
  color: white;
  height: 80vh; */
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  /* overflow: hidden; */
/* } */

/* .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; Added transform transition */
  /* z-index: 0; */
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; Added border radius to images */
/* } */

/* .header img.active {
  opacity: 1;
  z-index: 1;
}

.header:hover img.active {
  transform: scale(1.01); /* Apply the scale transformation on hover */
/* } */

/* .header .chevron-left,
.header .chevron-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.header .chevron-left {
  left: 10px;
}

.header .chevron-right {
  right: 10px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 19px;
  max-width: 80%;
  z-index: 2;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.header-content h1,
.header-content h3,
.header-content h4 {
  margin: 0;
}

.header-content h1 {
  font-size: 3rem;
  color: #a2c306;
}

.header-content h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.header-content h4 {
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.header-content.fadeIn {
  animation-name: fadeIn;
}

.header-content.slideInFromLeft {
  animation-name: slideInFromLeft;
}

.header-content.slideInFromRight {
  animation-name: slideInFromRight;
} */ 



.banner {
  /* background-color: antiquewhite; */
  padding: 60px 0;
  height: 38rem;
}


.align-items-center{
  
  height: 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  
  
}
.align-items-center p{
  font-size: 0.9em;
  width: 40rem;
  margin-top: 3rem;
}
.align-items-center h1{
  max-width: 500px;
}

.container button {
  margin-top: 4rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 .container{
  margin-left: 5rem;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #6ca149;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #8f8f8f;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

 .card {
  border-radius: 5px;
  width: 400px;
  height: 500px;
  margin-left: 10rem;
  margin-top: 2px;
  position: absolute;
  transition: .3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.3) ;
}
.imagemain {
  /* display: grid; */
  width: 600px;
  height: 50vmax;
  place-items: center;
  /* background-color: #569945; */
  height: 34rem;
  
}

.imagemain:hover #c1 {
  transform: translateX(-100px) rotate(-40deg);
}

.imagemain:hover #c2 {
  transform: translateX(-50px) rotate(-30deg);
}

.imagemain:hover #c3 {
  transform: translateX(0) rotate(-20deg);
}

.imagemain:hover #c4 {
  transform: translateX(50px) rotate(-10deg);
}

#c1:hover {
  transform: translateX(-150px) rotate(0deg) !important;
}

#c2:hover {
  transform: translateX(-100px) rotate(0deg) !important;
}

#c3:hover {
  transform: translateX(-50px) rotate(0deg) !important;
}

#c4:hover {
  transform: translateX(50px) rotate(0deg) !important;
}

#c1:hover ~ .card {
  opacity: 0;
}

#c2:hover ~ .card {
  opacity: 0;
}

#c3:hover ~ .card {
  opacity: 0;
}

#c4:hover ~ .card {
  opacity: 0;
}

/* #c1:hover,
#c1:hover ~ #c2,
#c1:hover ~ #c3, */
#c1:hover  {
  opacity: 1 !important;
}
#c2:hover ~ .card:not(#c1) {
  opacity: 0;
}

#c3:hover ~ .card:not(#c1):not(#c2) {
  opacity: 0;
}

#c4:hover ~ .card:not(#c1):not(#c2):not(#c3) {
  opacity: 0;
}

.card:hover {
  opacity: 1!important;
}


.align-items-center h1 {
  font-size: 3.3em;
  margin-bottom: 20px;
  color: #333;
}

.align-items-center h1 .txt-rotate > .wrap {
  border-right: 0.08em solid #569945;
}

