/* Nav.css */

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar-menu a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    color: #666;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover,
  .navbar-menu a.active {
    color: #a2c306; 
    
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
    margin-left: 2px;
  }
  
  .navbar-search-icon {
    font-size: 20px;
    color: #a2c306;
    cursor: pointer;
  }
  .contact{

        background-color: #ffffff;
        border-radius: 1em;
        cursor: pointer;
        font-size: 3px;
        color: #fff;
  }
  

