
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 3.5rem;
  width: 11rem;
  margin-right: 10px;
  padding-top: 4px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav-list li {
  display: inline;
}
.nav-list li:hover{
  border: #918d8d;
  border-width: 1px;
  border: #a2c306;
  border-color: #918d8d;
  
}

.nav-list li a {
  text-decoration: none;
  font-size: 16px;
  color: #666;
  transition: color 0.3s, transform 0.3s;
}

.nav-list li a:hover {
  transform: scale(1.1);
}


.nav-list li a:hover,
.nav-list li.active a {
  color: #000000; 
  border: #918d8d;
  border-radius: 4px;
}

.nav-list li.contact a {
  background-color: #a2c306;
  border-radius: 1em;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s, transform 0.3s;
}
.active{
  color: #a2c306;
}

.nav-list li.contact a:hover {
  border: #000000;
}

.nav-btn{
  display: none;
}


@media (max-width: 900px) {
  .menubutton{
    display: contents;
  }
  .nav-list{
    display: none;
  }
}
.sidebar{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.sidebar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
.sidebar li a {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  transition: color 0.3s, transform 0.3s;
}

.sidebar li a:hover {
  transform: scale(1.1);
}


.sidebar li a:hover,
.sidebar li.active a {
  color: #000000; 
  background-color: #a2c306;
  border-radius: 4px;
}

.sidebar li.contact a {
  background-color: #a2c306;
  border-radius: 1em;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s, transform 0.3s;
}

.sidebar li.contact a:hover {
  border: #666;
}

