.intro {
    position: relative;
    text-align: center;
    padding: 40px 20px;
  }
  
  .intro .text {
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
    
  }
  
  .intro h2 {
    margin: 0;
    font-size: 36px;
    color: rgb(126, 126, 126);
  }
  
  .intro h4 {
    margin: 10px 0 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: wavy;
  }
  
  .intro .icon {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    animation: bounce 2s infinite;
  }
  .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 60px 60px 60px;
    
  }
  .team-member img{
    margin-bottom: 20px;
  }
  .team-member {
    text-align: center;
    margin: 20px;
    padding: 40px;
    margin-top: 6%;
    height: 80%;
    position: relative;
    width: 20vw;
    transition: 0.5s ease-out;
    overflow: visible;
    border-radius: 30px;
    background: #f7f7f7;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
  }
   .team-member:hover {
    border-color: #55b54e;
    box-shadow: 0 4px 18px 0 rgba(89, 133, 58, 0.25);
   }
   
   .team-member:hover .profile {
    transform: translate(-50%, 50%);
    opacity: 1;
    border-color: #55b54e;
    border: 4px;
   }
  
  .team-member img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .team-member img:hover{
    border-radius: 5%;
    transition: 0.5s ease-out;
  }
  
  .team-member h3 {
    margin: 10px 0 5px 0;
  }
  
  .team-member p {
    margin: 5px 0 15px 0;
    color: #999;
    text-decoration: none;
    text-align: center;
  }
  
  .social-icons a {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #15872e;
  }
  
  .profile {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #4cb940;
    color: #ffffff;
    font-size: 1rem;
    padding: .5rem 2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }
  
  .profile:hover  {
    background-color: #218838; 
    transform: scale(1.05);
  }
