.intro {
    position: relative;
    text-align: center;
    padding: 40px 20px;
  }
  
  .intro .text {
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
    
  }
  
  .intro h2 {
    margin: 0;
    font-size: 36px;
    color: rgb(126, 126, 126);
  }
  
  .intro h4 {
    margin: 10px 0 0;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: wavy;
  }
  
  .intro .icon {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    animation: bounce 2s infinite;
  }
  .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 0px 60px 60px 60px;
  }
  .team-container:hover{
    
  }
  img{
    margin-bottom: 20px;
  }
  .team-member {
    text-align: center;
    margin: 20px;
    padding: 40px;
    margin-top: 6%;
    height: 80%;
    background-color: #ffffff;
    transition: transform 0.3s;
    width: 20vw;
  }
  
  .team-member:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2); /* Transparent white background */
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    backdrop-filter: blur(10px); /* Frosted glass effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border to enhance the glass effect */
  }
  
  
  .team-member img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .team-member img:hover{
    border-radius: 0%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px
  }
  
  .team-member h3 {
    margin: 10px 0 5px 0;
  }
  
  .team-member p {
    margin: 5px 0 15px 0;
    color: #999;
  }
  
  .social-icons a {
    margin: 0 5px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #15872e;
  }
  
  .team-container button {
    background-color: #8cc63f; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .team-container button  {
    background-color: #218838; 
    transform: scale(1.05);
  }
