.image img {
    width: 850px;
    height: 200px;
    margin-left: 13rem;
    margin-top: 3rem;
}
.Form {
    height: auto;
}
.para {
    margin-left: 24rem;
}

@media (max-width: 576px) {
    .image img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 20px;
    }

    .para {
        margin-left: 1rem; /* Adjust margin for better readability */
        margin-right: 1rem; /* Add right margin for better spacing */
    }
}
