.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.navbar-logo img {
    height: 50px;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-btn {
    display: none;
    background: none;
    border: none;
    color: #508d4e;
    cursor: pointer;
}

.sidebar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 70%;
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.sidebar li {
    margin: 20px 0;
    list-style-type: none;
    margin-left: 2rem;
}

.sidebar li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .nav-btn {
        display: block;
    }

    .navbar-menu {
        position: relative;
    }
}
