@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.stats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 10.3rem;  
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stat-number {
    font-size: 4em;
    font-weight: 400;
    color: #333;
  }
  
  .stat-label {
    font-size: 0.8em;
    color: #6db15e;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  @media (max-width: 576px) {
    .stats-container {
      flex-direction: row;
      align-items: center;
      padding: 10px 0;
    }
  
    .stat-item {
      margin-top: 25rem;
    }
  
    .stat-number {
      font-size: 2em;
    }
  
    .stat-label {
      font-size: 0.6em;
    }
  }
