.touch-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 50vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .touch-box {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    width: 40%;
    color: white;
    margin: 10px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(16, 16, 16, 0.3); 
  }
  
  .touch-box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .touch-box p {
    margin-bottom: 20px;
    color: black;
  }
  
  .touch-button {
    background-color: #80AF81; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .touch-button:hover {
    background-color: #218838; 
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .touch-container {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .touch-box {
        width: 80%;
        padding: 15px 30px;
        margin: 10px 0;
    }

    .touch-box h2 {
        font-size: 1.2rem;
    }

    .touch-box p {
        font-size: 0.9rem;
    }

    .touch-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 576px) {
    .touch-container {
        flex-direction: row;
        padding: 2rem 1rem 2rem 1rem;
        gap: 0.4rem;
    }

    .touch-box {
        width: 12rem;
        padding: 20px 20px;
        margin: 15px 0;
        text-align: center;
    }

    .touch-box h2 {
        font-size: 1rem;
    }

    .touch-box p {
        font-size: 0.8rem;
        text-align: justify;
    }

    .touch-button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}